/* Reset Css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
img {
  display: block;
}

button {
  cursor: pointer;
}
/* Icon Set Features */
.feature-icon {
  fill: #0bf040;
}
/* Icon Set Social */
.social-icon {
  fill: #404bbf;
}
/* Body */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Helper Class */
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
/* Header */
.header {
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.logo-section {
  font-family: "Raleway", sans-serif;
  color: #2e2f42;
}
.header-list {
  display: flex;
  gap: 40px;
}
.header-list-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}

.header-list-item:hover {
  color: #404bbf;
}
.header-list-item:focus {
  color: #404bbf;
}
.contact {
  font-style: normal;
}
.contact-list {
  font-style: normal;
  display: flex;
  gap: 40px;
}
.contact-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.contact-item:hover {
  color: #404bbf;
}
.contact-item:focus {
  color: #404bbf;
}
/* Main */
/* Section 1 - Solution */
.section-solution {
  background-color: #2e2f42;
  padding: 188px 0;
}
.section-solution-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
}
.main-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
}
.order-button {
  cursor: pointer;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: #4d5ae5;
  border-radius: 4px;
  cursor: pointer;
}
.order-button:hover {
  background-color: #404bbf;
}
.order-button:focus {
  background-color: #404bbf;
}
/* Section 2 - Features */
.section-features {
  padding: 120px 0;
}
.features-list {
  display: flex;
  gap: 24px;
}
.features-list-item {
  width: calc((100% - 72px) / 4);
}

.features {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.features-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* Section 2 - Our-Team */

.our-team {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.our-team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.our-team-list {
  display: flex;
  gap: 24px;
}
.our-team-list-item {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.our-team-name-title {
  padding: 32px 0;
}
.our-team-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.our-team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}
/* Section 4 - Our-Portfolio */
.our-portfolio-section {
  padding: 120px 0;
}
.our-portfolio {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.our-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.our-portfolio-list-item {
  width: calc((100% - 72px) / 3);
}
.our-portfolio-name-category {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
}
.our-portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.our-portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* Footer */
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.footer-logo > span {
  font-family: "Raleway", sans-serif;
  color: #f4f4fd;
}

.site-footer {
  background-color: #2e2f42;
  color: #2e2f42;
  padding: 100px 0;
}
.site-footer-text {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
}
